.bundle
db/*.sqlite3
log/*.log
.sass-cache/
*.sw[opn]
.rvmrc
/nbproject/private/
/nbproject/
.DS_Store
/public/uploads
/public/assets
*.zip
*.*~
config/initializers/michael.rb
/tmp/**/*
.rsync_cache
zeus.json
*.rdb
/coverage/**/*
coverage/**/*
coverage
uploads/**/*
